<html>
    <head>
        <style>
        </style>
    </head>

<% if Helpers.is_logged_in?(session)%>

<h1> Edit Trips here </h1>

    <form action="/trips/<%=@trip.id%>/edit" method='post'>
        <input id="hidden" type="hidden" name="_method" value='patch'>
            <div>
                <label for="name">Change the trip's name:</label>
                <input type="text" id="name" name="trip[name]">
            </div>
            <div>
                <label for="destination">Change the destination:</label>
                <input type="text" id="destination" name="trip[destination]">
            </div>
            <div>
                <label for="start_date">Change trip's start date:</label>
                <input type="text" id="start_date" name="trip[start_date]">
            </div>
            <div>
                <label for="end_date">Change trip's end date:</label>
                <input type="text" id="end_date" name="trip[end_date]">
            </div>
            <div>
                <input type="submit" name="submit" value="Submit Changes">
            </div>
    </form>

<% end %>

</html>