Add a new trip


<form action='/new_trip' method='post'>
        <label>
            Dates for new trip
            <input type="date" name="new_trip">
        </label>
        <p><button>Submit</button></p>
</form>
