<!DOCTYPE html>
    <html>
        <head>
            <title>Trip Aide</title>
        </head>
        <body>
            <% if Helpers.is_logged_in?(session)%>
                <h3> Welcome, <%=Helpers.current_user(session).username %> </h3> 
                <a href="/logout">Log Out</a>
            <% end %>
        </body>
    </html>
