<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trip Aide</title>
      <link rel="stylesheet" href="./public/stylesheets/layout">
    </head>
      <body>
        <%= yield %>
      </body>
  </html>