<DOCTYPE! HTML>
    <html>
        <head>
            #Create Header here
        </head>
        <body>
            <h1>Welcome to Trip Aide!</h1>
            <h5>Please resgiter or log in to access your account</h5>

            <a href="/registrations">Register </a>
            a href="/login">Log In </a>
        </body
    </html>