
<div id= "welcome">
    <div id="page">
        <header>
            <div>
                <h5 id="welcome_to">Welcome to...</h5>
                <h1 id= "intro"> Trip Aide! </h1>
                <p> "Your travel companion" </p>
            </div>
        </header>
            <div>
                <h3 id="instructions">Please register or log in to access your account.</h3>
                <br>
                <div id="button">
                    <a id="register" href="/register"><button>Register</button></a>
                    <a id="login" href="/login"><button>Log In</button></a>
                </div>
            </div>
    </div>
    <div>
        <br>
        <img src="https://img-9gag-fun.9cache.com/photo/aQRApd8_700bwp.webp" style="width: 100%;">
    </div>
</div>