<div>
    <h1>Welcome to Trip Aide!</h1>
        <h5>Please register or log in to access your account</h5>
            <a href="/register"><button>Register</button></a>
            <a href="/login"><button>Log In</button></a>
</div>