<!DOCTYPE HTML>
    <html lang="en">
        <head>
            <title>Trip Aide</title>
        </head>
        <body>
            <h1>Welcome to Trip Aide!</h1>
            <h5>Please register or log in to access your account</h5>
            <a href="./user/register"><button>Register</button></a>
            <a href="./user/login"><button>Log In</button></a>
        </body>
    </html>